name: wiki_library_self_update

on: 
    workflow_call:
      inputs:
        myEnvironment:
          required: true
          type: string
        myVersion:
          required: true
          type: string
    workflow_dispatch:
      inputs:
        myEnvironment:
          required: true
          type: string
        myVersion:
          required: true
          type: string

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Setup vars
        id: setup 
        run: |
          echo "myDate=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
          echo "myHour=$(date +'%H:%M:%S')" >> $GITHUB_OUTPUT
          echo "myCID=${GITHUB_SHA}" >> $GITHUB_OUTPUT
          echo "myBranch=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT

      - name: checkout_repo.wiki
        uses: actions/checkout@v3
        with:
          repository: 'bromba-noesis/${{ github.event.repository.name }}.wiki'

      - name: Create wiki home page # in case this is the first deployment
        run: |
          echo "Deployments by environment:" > Home.md
          echo "* [Dev](https://github.com/bromba-noesis/${{ github.event.repository.name }}/wiki/Development_Deployments)" >> Home.md
          echo "* [Qua](https://github.com/bromba-noesis/${{ github.event.repository.name }}/wiki/Quality_Deployments)" >> Home.md
          echo "* [Prd](https://github.com/bromba-noesis/${{ github.event.repository.name }}/wiki/Production_Deployments)" >> Home.md
          echo "***" >> Home.md
          echo "Deployments by [version](https://github.com/bromba-noesis/${{ github.event.repository.name }}/wiki/Versions)" >> Home.md
          echo "***" >> Home.md
          echo "Deployments by [project](https://github.com/bromba-noesis/${{ github.event.repository.name }}/wiki/Projects)" >> Home.md

      - name: Create projects page # in case this is the first deployment
        run: |
          echo "Used by projects:" >> Projects.md
          sort -u Projects.md
      
      - name: Update environment page
        uses: DamianReeves/write-file-action@master
        with:
          path: ${{ inputs.myEnvironment }}_Deployments.md
          contents: |
            | Date | Hour | Commit ID | Branch | Image Tag |
            |------|------|-----------|--------|-----------|
            | ${{ steps.setup.outputs.myDate }} | ${{ steps.setup.outputs.myHour }} | ${{ steps.setup.outputs.myCID }} | ${{ steps.setup.outputs.myBranch }} | ${{ inputs.myTag }} |
          write-mode: overwrite

      - name: Update versions pages # index and individual version pages
        run: |
          # index page
          echo "Latest deployments by version:" >> Versions.md
          echo "* [${{ inputs.myVersion }}](https://github.com/bromba-noesis/${{ github.event.repository.name }}/wiki/${{ inputs.myVersion }})" >> Versions.md
          sort -u Versions.md
          # individual page
          echo "| Repository | Environment | Date |" >> ${{ inputs.myVersion }}.md
          sort -u ${{ inputs.myVersion }}.md

      - name: Upload to wiki
        uses: SwiftDocOrg/github-wiki-publish-action@v1
        with:
          path: .
        env:
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.BROMBA_NOESIS_PAT2 }}
